
@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<h1>@ViewData["Title"]</h1>
<hr/>
<div class="alert alert-danger">
    <p>Họ và tên: Trịnh Văn Chung</p>
    <p>Lớp: K64CNT2</p>
    <p>Học phần: Lập trình web</p>
    <p>Email: 
        <a href="mailto:chungtrinhj@gmail.com" title="chungtrinhj@gmail.com">
            chungtrinhj@gmail.com
        </a>
    </p>
    <p>
        Điện thoại:
        <a href="tel:0978611889" title="0978611889">0978611889</a>
    </p>
</div>

