html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

 /*user*/
.list-group-item a {
    display: block; /* để toàn bộ item có thể click */
    color: inherit; /* giữ nguyên màu chữ */
    text-decoration: none; /* bỏ gạch chân */
}

.list-group-item:hover {
    background-color: #f0f0f0; /* đổi nền khi hover */
    cursor: pointer; /* đổi thành hình bàn tay */
}

.list-group-item.active a {
    color: #fff; /* giữ chữ trắng khi active */
}