
@{
    ViewData["Title"] = "Index";
}

<h1>User</h1>


<ul class="alert alert-danger">
    <li><b>Id:</b> @ViewBag.User.Id</li>
    <li><b>Name:</b> @ViewBag.User.Name</li>
    <li><b>Address:</b> @ViewBag.User.Address</li>
    <li><b>Email:</b> @ViewBag.User.Email</li>
</ul>